<h1>New Form</h1>

<%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :content %>
    <%= f.text_area :content %>

    <%= f.label :blogger_id %>
    <%= f.collection_select :blogger_id, @bloggers, :id, :name, include_blank: true %>

    <%= f.label :destination_id %>
    <%= f.collection_select :destination_id, @destinations, :id, :name, include_blank: true %>

    <%= f.submit%>
<% end %>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p><%= error %></p>
    <% end %> 
<% end %>