<h1>Destinations#new</h1>
<p>Find me in app/views/destinations/new.html.erb</p>


<%= form_for @destination do |f| %>
<%= f.label  :name %>
<%= f.text_field :name %>

<%= f.label  :country %>
<%= f.text_field :country %>

<%= f.submit%>
<% end %>